<!DOCTYPE html>
<html>
<head>
  <title>ActioncableChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if current_user %>
    <%= link_to 'Sign Out', logout_path, method: :delete %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
